
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1F3044;
    color: #ededed;
}

.contents{
    width: 100%;
    padding: 35px 10%;  
}

.contents{
    padding-right:calc(10% - 30px);
}

main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.col header.Education .Experience{
    font-family: Arial, Helvetica, sans-serif;
    color: #1F3044;
    padding: 0px 0px 30px 30px;
}

.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #BCFD4C;
}

.col .contents .box{
    position: relative;
    padding: 20px;
    border: 2px solid #BCFD4C;
    background-color: #1F3044;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;

}

.col .contents .box::before{
    content: ' ';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #BCFD4C;
    border: 2px solid white;

}

.box h4 {
    position: relative;
    color: #bababa;
}

.box h3 {
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #BCFD4C;
}

.col h1{
    padding: 20px;
}
.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}

@media(max-width: 768px) {
    main.row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2) {
        margin-top: 30px;
    }

 }

/* logo */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.resizelogo {
    width: 220px;
    height: 200px;

}

/* Logo ^^^ */
/* ****************************************************************** */


/* Nav */
nav {
    background-color: #243581;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
}

.nav a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    margin-left: 40px;
    transition: .3s;
}

/* doesnt work - trying to get home to be blue */
/* .nav a:hover, .nav a:active {
    color: #00abf0;
} */
/* Nav ^^^ */


/* ****************************************************************** */
/* home */
.home{
    height: 100vh;
    background-color: #1F3044;
    align-items: center;
    display: flex;
    padding: 0 10%;

}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1F3044;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #BCFD4C;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1F3044;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1F3044;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}


.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1F3044;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}
/* home ^^^^ */


/* ****************************************************************** */
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #BCFD4C;
    border: 1px solid #BCFD4C;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

/* for 2 boxes visuals of hire/chat */
.btn-box a:hover {
    color: #BCFD4C;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #BCFD4C;
}

.btn-box a:nth-child(2):hover {
    color: #1F3044;
}

.btn-box a:nth-child(2)::before {
    background: #BCFD4C;
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1F3044;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 150;
}



/* ****************************************************************** */
/* My icons for links */
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1F3044;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #BCFD4C;
    border-radius: 20%;
    font-size: 40px;
    color:#BCFD4C;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #1F3044;

}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #BCFD4C;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}
/* My icons for links ^^^*/



/* ****************************************************************** */
/* image */
.images {
    /* width:400px;
    height:400px; */
    width: 20%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 60px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .me{
    left: 45%;
}



/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}




/* ****************************************************************** */

/* About section */
.about a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #BCFD4C;
    border: 1px solid #BCFD4C;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

/* for 2 boxes visuals of hire/chat */
.about a:hover {
    color: #BCFD4C;
}

.about a {
    background: transparent;
    color: #BCFD4C;
}

.about a:hover {
    color: #1F3044;
}

.about a::before {
    background: #BCFD4C;
}


.about a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #BCFD4C;
    z-index: -1;
    transition: 1s;
}

.about a:hover::before {
    width: 150;
}

/* ****************************************************************** */

.button a{
    color: black;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #BCFD4C;
    border: 1px solid #BCFD4C;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

/* for 2 boxes visuals of hire/chat */
.button a:hover {
    color: #BCFD4C;
}

.button a {
    background: transparent;
    color: #BCFD4C;
}

.button a:hover {
    color: #1F3044;
}

.button a::before {
    background: #BCFD4C;
}


.button a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #BCFD4C;
    z-index: -1;
    transition: 1s;
}

.button a:hover::before {
    width: 150;
}

/* ****************************************************************** */

.per .contents{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #BCFD4C;
    position: relative;
    padding: 20px;
    border: 2px solid #BCFD4C;
    background-color: #1F3044;
    
}


/* ****************************************************************** */


/* footer */
.bottom {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    float:left;
    width:100%;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 1000;
}

.bottom a:link {
    color: #BCFD4C;
}

.bottom a:hover {
    color: #1F3044;
}

.bottom a {
    color: #BCFD4C;
}


html {
    scroll-behavior: smooth;
    scroll-padding:
            var(--scroll-padding, 5rem)
}